In [2]:
import pandas as pd
# from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver import FirefoxOptions 
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
# import time
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

In [3]:
url = 'https://racetozerodataexplorer.org/proceed/'

scope1_lst = []
scope2_local_lst = []
scope2_market_lst = []
name_lst = []

master_lst = [scope1_lst, scope2_local_lst, scope2_market_lst, name_lst]

options = FirefoxOptions()
options.add_argument("--headless") # comment out to see how it works

with webdriver.Firefox(options=options) as driver:
    driver.get(url)
    headers = driver.find_elements(By.XPATH, "//*[@class= 'styles_table__jWPKo']/thead/tr/th")
    headers = [header.text for header in headers]
    table = driver.find_elements(By.XPATH, "//*[@class= 'styles_table__jWPKo']/tbody/tr")
    
    for row in table:
        name = row.find_element(By.TAG_NAME, 'th')
        # print(name.text)
        master_lst[3].append(name.text)
        for i, cell in enumerate(row.find_elements(By.TAG_NAME, 'td')):
            if i % 9 in [0,1,2]: # only interested in first 3 columns
                try:
                    cell.find_element(By.CLASS_NAME, 'styles_button__IS06I').click()
                    WebDriverWait(driver, 10).until( # Wait for pop-up to load
                        EC.presence_of_element_located((By.CLASS_NAME, 'styles_axisValue__ipOq1')))
                    values = driver.find_elements(By.CLASS_NAME, 'styles_axisValue__ipOq1')
                    master_lst[i].append([value.text.replace(',','') for value in values])
                    driver.find_element(By.CLASS_NAME, 'styles_close__cpVjT').click()
                except:
                    master_lst[i].append(['', '', '', ''])

37 Interactive Entertainment
A.P. Moller - Maersk
AAK AB
AB Volvo
ABB
AbbVie Inc
Accenture
Accor
adidas AG
ADIENT plc
Adobe
AECOM
AENA SME SA
AFRY AB
Agder Energi
Agilent Technologies Inc.
Ahold Delhaize
Ajinomoto Co.Inc.
Akamai Technologies Inc
Akzo Nobel NV
Alfa Laval Corporate AB
Alibaba Group Holding Limited
Amazon
Ambev S.A
Ambuja Cements
America Movil SAB de CV
American Airlines Group Inc
American Axle & MFG Holdings Inc
American Eagle Outfitters Inc.
Americanas S.A.
Amey UK plc
Analog Devices, Inc.
Apple Inc.
Applied Materials Inc.
Aramark Corporation
Arcadis
ARÇELİK A.Ş.
Ardagh Group SA
Asahi Group Holdings, Ltd.
Ashland LLC
Asics Corporation
Askul Corporation
ASOS
Assa Abloy
AstraZeneca
Atea ASA
Atlantia
Atlassian Corporation Plc
Atos SE
Aurubis AG
Autodesk, Inc.
Autoliv Inc
Autostrade per l'italia Spa
Axiata Group Berhad
Azul Sa
Babcock International Group PLC
BAE Systems
Balfour Beatty
Barratt Developments plc
Bayer AG
BCE Inc.
Becton, Dickinson and Co.
Beiersdorf AG
Bekaert NV
Bel S.A.
Berkeley Group
Berry Global Group, Inc
Best Buy Co., Inc.
Bharti Airtel Limited
Biogen Inc.
BMW AG
Booz Allen Hamilton
Boral Ltd
Boston Consulting Group
Boston Scientific Corporation
Brambles
BRF S.A
British American Tobacco
Brown-Forman Corporation
BT Group
Bunzl plc
Burberry Group
Bureau Veritas
Canadian National Railway Company
Capgemini SE
Capita Group
Capri Holdings Limited
Cardinal Health, Inc.
Cargotec Corporation
Carlsberg Breweries A/S
Carrefour
Cartier
Catalent, Inc.
Cellnex Telecom SA
Cementos Argos SA
CEMEX
Centrica
CEZ
CHANEL
Charles River Laboratories International Inc.
CHIMEI Corporation
Chocoladefabriken Lindt & Sprüngli AG
Cia Paranaense de Energia - COPEL
Cisco Systems, Inc.
Clifford Chance
Clorox Company
CMA CGM S.A.
Coca-Cola Europacific Partners
Coca-Cola HBC AG
Cogeco Inc.
Cognizant Technology Solutions Corp.
Colgate Palmolive Company
Colliers International Group Inc
Coloplast A/S
Compass
Computacenter Plc
Construcciones y Auxiliar de Ferrocarriles S.A.
Coop Sverige AB
Corteva Inc
Cranswick
Croda International
Crown Holdings
Crystal International Group
Cummins Inc.
Currys Plc
Cushman & Wakefield
CVS Health
Daiwa House Industry Co., Ltd.
Dana
DANFOSS
Danone
Dassault Systemes
Decathlon SA
Dell Technologies
Deloitte Touche Tohmatsu Limited
Delta Air Lines
Delta Electronics, Inc.
Demant A/S
Dentsu International
Desjardins Group
Deutsche Post DHL Group
Deutsche Telekom AG
Diageo Plc
DMG MORI AKTIENGESELLSCHAFT
DNV AS
DocuSign
Domino's Pizza Group plc
Downer EDI
DP World
Dr. Reddy’s Laboratories
Drax Group
DS Smith Plc
Duerr AG
E.ON SE
easyJet
Eaton Corporation
Ecolab Inc.
Edelman
EDF
EDP - Energias de Portugal S.A.
EDP - Energias do Brasil S.A.
Eiffage
El Corte Inglés, SA.
Electrolux
Elisa Oyj
Emmi Group
Empresas CMPC
En+ Group
ENEL SpA
ENGIE
Entain
Epiroc AB
Ericsson
Essity
Etsy, Inc.
Europcar Mobility Group
European Metal Recycling Limited
Farfetch
Fast Retailing Co., Ltd.
Faurecia
FGV Holdings Berhad
FirstGroup PLC
FLSmidth & Co. A/S
Flutter Entertainment PLC
FMC Corp
Ford Motor Company
Gap Inc.
GEA Group AG
General Mills Inc.
General Motors Company
Genpact Ltd
Getinge AB
Givaudan SA
GN Store Nord A/S
Google
Greenyard NV
Group SEB
Groupe iliad
Grupo Bimbo, S.A.B. de C.V.
GSK
Guess ?, Inc.
H&M Hennes & Mauritz AB
H.U. Group Holdings, Inc.
HeidelbergCement AG
Heineken NV
Henkel AG & Co. KGaA
Henry Schein Inc.
Hertz
Hewlett Packard Enterprise Company
Hindustan Zinc
Hitachi, Ltd.
Holcim Ltd.
Holmen AB
Hon Hai Precision Industry
HP Inc
HUGO BOSS AG
Husqvarna AB
Hyundai Mobis Co Ltd
Iberdrola SA
ICA Gruppen AB
Iceland Foods
Illumina Inc
IMI PLC
Imperial Brands
INDRA
Informa plc
Infosys Limited
Ingka Group
International Business Machines (IBM)
International Consolidated Airlines Group, S.A.
International Flavors & Fragrances Inc.
Interpublic Group of Companies, Inc.
Interpublic Group of Companies, Inc.
Intertek Group
Intuit Inc.
Ipsen
ITV
J C Bamford Excavators
J Sainsbury Plc
Jacobs Engineering Group Inc.
Jaguar Land Rover
JBS
JD Sports Fashion PLC
JetBlue
JinkoSolar Holding Co., Ltd
John Lewis Partnership
Johnson & Johnson
Johnson Controls International plc
Johnson Matthey
Jungheinrich AG
KAO Corporation
Kering
Kesko Corporation
Kier Group
Kingfisher
Kingspan Group PLC
Kirin Holdings Co Ltd
Klabin S/A
KLM Royal Dutch Airlines
Klöckner & Co
Kmart Australia Limited
Koninklijke KPN NV (Royal KPN)
Koninklijke Philips NV
KPMG UK
Krones AG
Kuehne + Nagel International AG
L'Oréal
La Poste
La-Z-Boy Inc
LEGRAND
Lendlease
Lenzing AG
Levi Strauss & Co.
LG Electronics
Logitech International SA
Lojas Renner S.A.
Lululemon Athletica Inc.
Lundbeck A/S
Lyft Inc
Mace Ltd
MAEDA CORPORATION
ManpowerGroup
Marks and Spencer Group plc
Marriott International, Inc.
Mars
Marvell Technologies
Mastercard Incorporated
Mayr-Melnhof Karton AG
McDonald's Corporation
Meiji Holdings Co Ltd
Mercedes-Benz Group AG
Meta
Metsä Board Corporation
Mettler-Toledo International Inc.
Michelin
Microsoft Corporation
Millicom International Cellular S.A.
MITIE Group
Mitsubishi Estate Company Co., Ltd.
Moët Hennessy
Mohawk Group
Mondi PLC
Morgan Sindall Group plc
MTN Group Management Services
MVV Energie AG
National Grid PLC
Natura & Co
NEC Corporation
Nestlé
Netflix
Network Rail plc
New World Development Company Limited
News Corp
NIKE Inc.
Nikon Corporation
Nokia Group
Nomad Foods Ltd
Nomura Research Institute, Ltd.
Novartis
Novo Nordisk A/S
Novozymes A/S
NRG Energy Inc
NTT Data Corporation
Octopus Energy Group Limited
Olam International
Ono Pharmaceutical Co., Ltd.
Oracle Corporation
Orange
Orbia Advance Corporation
Origin Enterprises plc
Orkla ASA
Ørsted
Otto Group
Outokumpu Oyj
Palo Alto Networks
Panasonic Holdings Corporation
Pandora A/S
PayPal Holdings Inc
Pearson
PepsiCo, Inc.
Pernod Ricard
Persimmon plc
Pfizer Inc.
Philip Morris International
Plastic Omnium
Portland General Electric (PGE)
PostNL
Procter & Gamble Company
Prosegur Compañia de Seguridad
Proximus
Prysmian SpA
Public Service Enterprise Group Inc.
Publicis Groupe SA
PUMA SE
PVH Corp
Qiagen NV
QUALCOMM Inc.
Ralph Lauren Corporation
Randstad N.V.
Reckitt Benckiser
Redrow PLC
Reliance Jio Infocomm Limited
RELX
REMA 1000 NORGE AS
Renault Group
Renesas Electronics Corporation
Restaurant Brands International
Rexel
Ricoh Co., Ltd.
Rolls-Royce
RWE AG
SAAB AB
Sacyr
Safaricom Limited
Sage Group
Saint-Gobain
Salesforce.com, Inc.
Salling Group A/S
SANOFI
SAP SE
Saudi Telecom Company
Scania
Schindler Holding AG
Schneider Electric
Secom Co., Ltd.
Sekisui House, Ltd.
ServiceNow Inc
Severn Trent
SGS Société Générale de Surveillance SA
Shanying International Holdings Co., Ltd.
Siemens AG
Siemens Gamesa Renewable Energy SA
Sierra Nevada Brewing Co.
Signify N.V.
Singtel
Skanska AB
SKF
Smiths Group
Snap Inc.
Sodexo
Sodimac S.A.
Södra Skogsägarna ekonomisk förening
Sony Group Corporation
Sopra Steria Group
SPIE
Splunk Inc.
Spotify
SSAB
SSE
Stanley Black & Decker, Inc.
Stantec Inc.
Starbucks Corporation
Steelcase
STMicroelectronics International NV
Stora Enso Oyj
Storskogen Group AB (publ)
Suez SA
Sumitomo Forestry Co., Ltd.
Suntory Beverage & Food Limited
Suntory Holdings Limited
Super Micro
Suzano SA
Sweco AB
Swisscom
Symrise AG
Takeda Pharmaceutical Company Limited
TAKENAKA CORPORATION
Tapestry Inc
Target Corporation
Tchibo
TD SYNNEX
TDC NET A/S
Tech Mahindra
Teijin Ltd.
Telefónica
Telenor Group
Teleperformance
Telia Company AB
Telstra Corporation
Tesco
Tesla Inc
Thermo Fisher Scientific Inc.
THG PLC
Thor Industries, Inc.
thyssenkrupp AG
TietoEVRY
Tiffany & Co.
TK Elevator GmbH
Tokyu Fudosan Holdings Corporation
TPG Telecom
Trane Technologies
Trelleborg AB
Trina Solar Co., Ltd.
TRUMPF GmbH + Co. KG
Twitter Inc
Uber
Ubisoft Entertainment
UK Power Networks Holdings Limited
Unilever plc
United Airlines Holdings
United Utilities
Univar Solutions
Universal Music Group NV
UPL Ltd.
UPM-Kymmene Corporation
Valeo Sa
Vattenfall Group
Veidekke ASA
Veolia Environnement SA
Verizon Communications
Vestas Wind Systems A/S
VF Corporation
Virgin Group
Visa
Visteon
Vistra Corp.
Vistry Group PLC
Vivendi SE
VMware, Inc
Vodafone Group
VodafoneZiggo
Volvo Car Group
Votorantim Cimentos
Wacker Chemie AG
Walmart, Inc.
Western Power Distribution plc
Winnebago Industries Inc
Wipro
Workday, Inc
Worley
WPP Group
WSP
Xerox Corporation
Xylem Inc
YKK
Yum China Holdings, Inc.
Yum! Brands, Inc.
Yutong Bus Co., Ltd.
Żabka Polska Sp. z o. o.
ZF Friedrichshafen AG

In [95]:
headers = [header.strip().replace('\n', ' ').replace(
    '4 years trend (ending in reporting year)', '') for header in headers]
years = ['2018', '2019', '2020', '2021']
    
# Need to merge all these 
df_scope1 = pd.DataFrame(master_lst[0], index=master_lst[3], columns=years).reset_index(drop=False)
df_scope2_loc = pd.DataFrame(master_lst[1], index=master_lst[3], columns=years).reset_index(drop=False)
df_scope2_mkt = pd.DataFrame(master_lst[2], index=master_lst[3], columns=years).reset_index(drop=False)

In [37]:
engine = create_engine("sqlite:///GDS.db")
if not database_exists(engine.url):
    create_database(engine.url)

# Add dataframes to database to avoid having to rerun webscraping each time
for df, header in [(df_scope1, headers[1]), (df_scope2_loc, headers[2]), (df_scope2_mkt, headers[3])]:
    df.rename(columns={'index': 'Company Name'}, inplace=True)
    df.to_sql(header.replace(' ', '_'), engine, if_exists='replace', index=False)

In [56]:
df_scope1 = pd.read_sql_table('Scope_1_emissions_(tCO₂e)', engine)
df_scope2_loc = pd.read_sql_table('Scope_2_emissions_(tCO₂e)_Location', engine)
df_scope2_mkt = pd.read_sql_table('Scope_2_emissions_(tCO₂e)_Market', engine)

In [57]:
# Drop Interpublic Group of Companies, Inc. which is duplicated in data source
df_scope1 = df_scope1.loc[~df_scope1.index.duplicated()] 
df_scope2_loc = df_scope2_loc.loc[~df_scope2_loc.index.duplicated()] 
df_scope2_mkt = df_scope2_mkt.loc[~df_scope2_mkt.index.duplicated()]

In [58]:
df_scope1 = df_scope1.melt(id_vars='Company Name', value_name='Scope_1_emissions_(tCO₂e)', var_name='Year')
df_scope2_loc = df_scope2_loc.melt(id_vars='Company Name', value_name='Scope_2_emissions_(tCO₂e)_Location', var_name='Year')
df_scope2_mkt = df_scope2_mkt.melt(id_vars='Company Name', value_name='Scope_2_emissions_(tCO₂e)_Market', var_name='Year')

In [60]:
df = df_scope1.merge(df_scope2_loc, on=['Company Name', 'Year']).merge(df_scope2_mkt, on=['Company Name', 'Year'])

df = df.loc[~df.duplicated()] # Remove companies with no data whatsoever

In [99]:
companies_sample = pd.DataFrame(df['Company Name'].unique(), columns=['Company Name']).sample(100, random_state=1234)

df = df.merge(companies_sample, on='Company Name', how='inner')
df.to_sql('Emissions_Data_Joined', engine, if_exists='replace', index=False)

400

In [103]:
df.loc[df['Year']=='2018'] # Allows us to access data for each time period like this

,Company Name,Year,Scope_1_emissions_(tCO₂e),Scope_2_emissions_(tCO₂e)_Location,Scope_2_emissions_(tCO₂e)_Market
0,37 Interactive Entertainment,2018,-,-,
4,Accor,2018,280706,1829278,-
8,AECOM,2018,-,-,
12,AFRY AB,2018,1708,2347,1991
16,Amazon,2018,-,-,
...,...,...,...,...,...
380,Vodafone Group,2018,257887,1908842,1737251
384,Western Power Distribution plc,2018,,,
388,Winnebago Industries Inc,2018,,,
392,WPP Group,2018,7309,95144,73830
396,"Yum China Holdings, Inc.",2018,-,-,