In [47]:
import pandas as pd
from sqlalchemy import create_engine
import statsmodels.api as sm
from linearmodels.panel import PanelOLS

In [3]:
engine = create_engine("sqlite:///GDS.db")
df_emissions = pd.read_sql_table('Emissions_Data_Joined', engine)
df_emissions['Year'] = df_emissions['Year'].astype(int)

df_sectors = pd.read_sql_table('Sectors', engine)
df_fin = pd.read_sql_table('FinancialsTableFinal', engine)

In [4]:
df_fin['Year'] = df_fin['Date'].str[:4].astype(int)+1
df_fin.drop(columns='Date', inplace=True)

In [23]:
df_panel = df_emissions.merge(df_sectors, on='Company Name').merge(
    df_fin, on=['Company Name', 'Year']).set_index(['Company Name', 'Year'])

df_panel = df_panel.loc[~df_panel['Capital Expenditures'].isna()] # Drop rows with missing values

In [24]:
primary = ['Industrials', 'Materials', 'Utilities']
df_panel.loc[~df_panel['Industry'].isin(primary), 'Industry'] = 'Tertiary'
df_panel.loc[df_panel['Industry'].isin(primary), 'Industry'] = 'Primary'

df_panel['Industry'].value_counts()

Tertiary    239
Primary     127
Name: Industry, dtype: int64

In [25]:
df_panel = pd.get_dummies(df_panel, columns=['Industry'], drop_first=True)

In [26]:
df_panel

                                  Scope_1_emissions_(tCO₂e)  \
Company Name                 Year
37 Interactive Entertainment 2018                         -
                             2019                       129
                             2020                       169
                             2021                       152
Accor                        2018                    280706
...                                                     ...
Xylem Inc                    2021                     47707
Yum! Brands, Inc.            2018                     48047
                             2019                     23545
                             2020                     38907
                             2021                     39013

                                  Scope_2_emissions_(tCO₂e)_Location  \
Company Name                 Year
37 Interactive Entertainment 2018                                  -
                             2019                               2701
                             2020                               2395
                             2021                               1794
Accor                        2018                            1829278
...                                                              ...
Xylem Inc                    2021                              44569
Yum! Brands, Inc.            2018                             155439
                             2019                             140341
                             2020                             128129
                             2021                             117621

                                  Scope_2_emissions_(tCO₂e)_Market  \
Company Name                 Year
37 Interactive Entertainment 2018                                -
                             2019                                -
                             2020                                -
                             2021                                -
Accor                        2018                                -
...                                                            ...
Xylem Inc                    2021                            18214
Yum! Brands, Inc.            2018                           159403
                             2019                           144313
                             2020                           130953
                             2021                           112665

                                        Revenue  Net Profit Margin, (%)  \
Company Name                 Year
37 Interactive Entertainment 2018  9.512055e+08                0.261856
                             2019  1.110127e+09                0.132130
                             2020  1.899959e+09                0.159881
                             2021  2.206851e+09                0.191737
Accor                        2018  3.327695e+09                0.123288
...                                         ...                     ...
Xylem Inc                    2021  4.876000e+09                0.052092
Yum! Brands, Inc.            2018  5.878000e+09                0.301803
                             2019  5.688000e+09                0.259494
                             2020  5.597000e+09                0.231195
                             2021  5.652000e+09                0.159943

                                   Current Ratio       ROE  Debt to Equity  \
Company Name                 Year
37 Interactive Entertainment 2018        2.60977  0.230958        0.105192
                             2019        2.09920  0.168853        0.113814
                             2020        2.44392  0.300850        0.082679
                             2021        1.28937  0.457309        0.212455
Accor                        2018        1.22390  0.062845        0.552187
...                                          ...       ...             ...
Xylem Inc                    2021        1.80112  0.085580        1.039084
Yum! Brands, Inc.            2018        1.65807 -0.280076       -1.547837
                             2019        0.92775 -0.186223       -1.270754
                             2020        0.99091 -0.161427       -1.317615
                             2021        1.00836 -0.114561       -1.359143

                                   Capital Expenditures  Industry_Tertiary
Company Name                 Year
37 Interactive Entertainment 2018              0.111223                  1
                             2019              0.038649                  1
                             2020              0.036295                  1
                             2021              0.101443                  1
Accor                        2018              0.041970                  1
...                                                 ...                ...
Xylem Inc                    2021              0.020914                  0
Yum! Brands, Inc.            2018              0.059876                  1
                             2019              0.056659                  1
                             2020              0.037469                  1
                             2021              0.027341                  1

[366 rows x 10 columns]

Want to seperate out each of the emission scopes so we can take all observations with values for that scope.
i.e. We want to include a company which has Scope 1 emissions but no Scope 2 Location Based emissions in our model for Scope 1 emissions. This would not be possible if we just dropped them from main df.

In [72]:
x_vars = df_panel.columns[3:]

df_scope1 = df_panel[x_vars].merge(df_panel['Scope_1_emissions_(tCO₂e)'],
                                    left_index=True, right_index=True)
df_scope2_loc = df_panel[x_vars].merge(df_panel['Scope_2_emissions_(tCO₂e)_Location'],
                                        left_index=True, right_index=True)
df_scope2_mkt = df_panel[x_vars].merge(df_panel['Scope_2_emissions_(tCO₂e)_Market'],
                                        left_index=True, right_index=True)

In [75]:
# Drop observations without emissions data
df_scope1 = df_scope1.loc[df_scope1['Scope_1_emissions_(tCO₂e)'] != '-'].astype(float)
df_scope2_loc = df_scope2_loc.loc[df_scope2_loc['Scope_2_emissions_(tCO₂e)_Location'] != '-'].astype(float)
df_scope2_mkt = df_scope2_mkt.loc[df_scope2_mkt['Scope_2_emissions_(tCO₂e)_Market'] != '-'].astype(float)

In [78]:
x = sm.add_constant(df_scope1[x_vars])
y = df_scope1[['Scope_1_emissions_(tCO₂e)']]

model1 = PanelOLS(dependent=y, exog=x, time_effects=True)
res1 = model1.fit()
res1.summary

<class 'linearmodels.compat.statsmodels.Summary'>
"""
                              PanelOLS Estimation Summary
=======================================================================================
Dep. Variable:     Scope_1_emissions_(tCO₂e)   R-squared:                        0.1806
Estimator:                          PanelOLS   R-squared (Between):              0.1943
No. Observations:                        354   R-squared (Within):              -0.5604
Date:                       Wed, Jun 21 2023   R-squared (Overall):              0.1803
Time:                               22:06:42   Log-likelihood                   -6041.8
Cov. Estimator:                   Unadjusted
                                               F-statistic:                      10.803
Entities:                                 92   P-value                           0.0000
Avg Obs:                              3.8478   Distribution:                   F(7,343)
Min Obs:                              2.0000
Max Obs:                              4.0000   F-statistic (robust):             10.803
                                               P-value                           0.0000
Time periods:                              4   Distribution:                   F(7,343)
Avg Obs:                              88.500
Min Obs:                              80.000
Max Obs:                              92.000

                                   Parameter Estimates
==========================================================================================
                        Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------
const                   4.759e+06  9.194e+05     5.1757     0.0000    2.95e+06   6.567e+06
Revenue                   2.1e-05   7.81e-06     2.6889     0.0075   5.639e-06   3.636e-05
Net Profit Margin, (%) -2.255e+06  2.016e+06    -1.1186     0.2641   -6.22e+06    1.71e+06
Current Ratio          -3.947e+05  3.207e+05    -1.2306     0.2193  -1.025e+06   2.361e+05
ROE                    -7.467e+05  3.805e+05    -1.9622     0.0505  -1.495e+06      1785.5
Debt to Equity           1.34e+05  6.746e+04     1.9861     0.0478      1293.2   2.667e+05
Capital Expenditures    3.027e+07  1.301e+07     2.3263     0.0206   4.676e+06   5.586e+07
Industry_Tertiary      -5.397e+06  7.344e+05    -7.3485     0.0000  -6.842e+06  -3.952e+06
==========================================================================================

F-test for Poolability: 0.2343
P-value: 0.8725
Distribution: F(3,343)

Included effects: Time
"""

In [81]:
x = sm.add_constant(df_scope2_loc[x_vars])
y = df_scope2_loc[['Scope_2_emissions_(tCO₂e)_Location']]

model2_loc = PanelOLS(dependent=y, exog=x, time_effects=True)
res2_loc = model2_loc.fit()
res2_loc.summary

<class 'linearmodels.compat.statsmodels.Summary'>
"""
                                  PanelOLS Estimation Summary
================================================================================================
Dep. Variable:     Scope_2_emissions_(tCO₂e)_Location   R-squared:                        0.1739
Estimator:                                   PanelOLS   R-squared (Between):              0.2022
No. Observations:                                 349   R-squared (Within):              -0.1434
Date:                                Wed, Jun 21 2023   R-squared (Overall):              0.1679
Time:                                        22:09:52   Log-likelihood                   -5380.1
Cov. Estimator:                            Unadjusted
                                                        F-statistic:                      10.168
Entities:                                          92   P-value                           0.0000
Avg Obs:                                       3.7935   Distribution:                   F(7,338)
Min Obs:                                       2.0000
Max Obs:                                       4.0000   F-statistic (robust):             10.168
                                                        P-value                           0.0000
Time periods:                                       4   Distribution:                   F(7,338)
Avg Obs:                                       87.250
Min Obs:                                       78.000
Max Obs:                                       91.000

                                   Parameter Estimates
==========================================================================================
                        Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------
const                    5.68e+05  1.771e+05     3.2063     0.0015   2.195e+05   9.164e+05
Revenue                 1.146e-05  1.561e-06     7.3395     0.0000   8.386e-06   1.453e-05
Net Profit Margin, (%) -5.711e+05  3.871e+05    -1.4754     0.1410  -1.333e+06   1.903e+05
Current Ratio          -6.073e+04  6.151e+04    -0.9873     0.3242  -1.817e+05   6.026e+04
ROE                    -1.939e+05  7.415e+04    -2.6157     0.0093  -3.398e+05   -4.81e+04
Debt to Equity          3.723e+04  1.319e+04     2.8235     0.0050   1.129e+04   6.317e+04
Capital Expenditures    2.441e+06  2.486e+06     0.9820     0.3268  -2.449e+06   7.331e+06
Industry_Tertiary      -1.495e+05   1.42e+05    -1.0525     0.2933  -4.288e+05   1.299e+05
==========================================================================================

F-test for Poolability: 1.5748
P-value: 0.1952
Distribution: F(3,338)

Included effects: Time
"""

In [80]:
x = sm.add_constant(df_scope2_mkt[x_vars])
y = df_scope2_mkt[['Scope_2_emissions_(tCO₂e)_Market']]

model2_mkt = PanelOLS(dependent=y, exog=x, time_effects=True)
res2_mkt = model2_mkt.fit()
res2_mkt.summary

<class 'linearmodels.compat.statsmodels.Summary'>
"""
                                 PanelOLS Estimation Summary
==============================================================================================
Dep. Variable:     Scope_2_emissions_(tCO₂e)_Market   R-squared:                        0.1281
Estimator:                                 PanelOLS   R-squared (Between):              0.1452
No. Observations:                               322   R-squared (Within):              -0.7138
Date:                              Wed, Jun 21 2023   R-squared (Overall):              0.1267
Time:                                      22:09:00   Log-likelihood                   -4921.5
Cov. Estimator:                          Unadjusted
                                                      F-statistic:                      6.5269
Entities:                                        91   P-value                           0.0000
Avg Obs:                                     3.5385   Distribution:                   F(7,311)
Min Obs:                                     1.0000
Max Obs:                                     4.0000   F-statistic (robust):             6.5269
                                                      P-value                           0.0000
Time periods:                                     4   Distribution:                   F(7,311)
Avg Obs:                                     80.500
Min Obs:                                     67.000
Max Obs:                                     89.000

                                   Parameter Estimates
==========================================================================================
                        Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------
const                   6.555e+05  1.624e+05     4.0355     0.0001   3.359e+05   9.751e+05
Revenue                 7.256e-06  1.516e-06     4.7876     0.0000   4.274e-06   1.024e-05
Net Profit Margin, (%) -4.581e+05  3.444e+05    -1.3301     0.1845  -1.136e+06   2.196e+05
Current Ratio          -3.941e+04  5.503e+04    -0.7163     0.4743  -1.477e+05   6.886e+04
ROE                    -1.749e+05  6.751e+04    -2.5909     0.0100  -3.077e+05  -4.207e+04
Debt to Equity          3.264e+04  1.201e+04     2.7168     0.0070      9000.7   5.628e+04
Capital Expenditures    1.914e+06  2.453e+06     0.7803     0.4358  -2.912e+06    6.74e+06
Industry_Tertiary       -4.09e+05  1.281e+05    -3.1942     0.0015   -6.61e+05  -1.571e+05
==========================================================================================

F-test for Poolability: 0.1987
P-value: 0.8973
Distribution: F(3,311)

Included effects: Time
"""